[ngbdropdown] {
	.btn-plus-lang.dropdown-toggle::after {
		display: none;
	}

	.btn-plus-lang {
		background-color: transparent !important;
		border-color: transparent;
		padding: 0.1rem 0.2rem;
		font-size: 0.8rem;
		line-height: 1.3;
	}
}

input[type="text"] {
	width: 100%;
}