.btn-reset {
	background-color: transparent;
    color: #6c757d;
    border-bottom: 1px dashed #6c757d;
}

label {
    color: #6c757d;
    text-transform: uppercase;
    font-size: 14px;
}

button {
	float: right;
	margin-left: 5px;
}