radio-group {
	display: block;
}

label[for="search"] {
    display: block;
    width: 100%;
}

.btn-reset {
	background-color: transparent;
    color: #6c757d;
    border-bottom: 1px dashed #6c757d;
}

label {
    color: #6c757d;
    text-transform: uppercase;
    font-size: 14px;
}