@import 'variables.scss';

.message-sender {
	color: $primary_color;
}

.child .message-sender {
	color: #7f7f7f;
	display: inline-block;
}

.message-date {
	position: relative;
    float: right;
    right: 10px;
    margin-top: -1.5rem;
    color: #7f7f7f;
}

.child .message-date {
	position: initial;
	float: none;
	margin-top: 0px;
	right: none;
	padding-left: 15px;
	display: inline-block;
}

.child {
	border-left: 3px solid #333333;
	padding-left: 10px;
}

.message-sender,
.message-content {
	font-size: 17px;
}