$body_background_color: #F5F5F5;
$primary_color: #F77F28;
$danger_color: #d0021b;
$hover_background_color: #FEF6F1;
$navigation_link_hover_background: #FEF6F1;

$logo_path: url('/assets/images/logo/youhotel.png');